.wrap-column {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}

.nowrap-column {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.split-text::after {
    content: "";
    display: block;
  }